{% extends '/partials/_base.twig' %}

{% block content %}

    {% include 'partials/_nav.twig' with { 'colour': 'white', 'logo': 'logo.svg', 'navColour' : 'navy', 'includeDropdowns': true } %}

    <header class="w-full bg-navy h-64 relative flex flex-row justify-center items-center">
        <div class="absolute w-full h-full bg-navy bg-opacity-50"></div>
        <img class="absolute h-full w-full object-cover" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.title }}">
        <h1 class="text-5xl text-white font-bold relative z-50">{{ entry.title }}</h1>
    </header>


    {% set blocks = entry.pageBuilder.all() %}

    {% for block in blocks %}
        {% include 'blocks/_'~block.type %}
    {% endfor %}


    {% include 'partials/footer/_footer.twig' %}

{% endblock %}