<div class="form fixed w-full h-full bg-white p-8 flex justify-center items-center" style="display:none;top:-20px;left:0">
    <div class="w-full lg:w-1/2">
        <h5 class="text-navy text-center mb-8 font-bold">Please fill out the form to download {{ product.title }} specs</h5>
        {% set form = craft.formie.forms.handle('gatedDownload').one() %}
        {% do craft.formie.populateFormValues(form, { resourceRequested: product.title }) %}
        {% do form.setSettings({redirectUrl: download.url }) %}
        {% set options = {
            formAttributes: {
                'target': '_blank'
            }
        } %}
        {{ craft.formie.renderForm(form, options) }}
        <a href="#" class="mt-8 text-lg block text-center closeForm">Close this window</a>
    </div>
</div>