<div class="form fixed w-full h-full bg-white p-8 flex justify-center items-center" style="display:none;top:0px;left:0px;margin-left: 0px;z-index: 1000;">
    <div class="w-full lg:w-1/2">
        <h5 class="text-navy text-center mb-8 font-bold">Please fill out the form to download {{ product.title }} specs</h5>

        {% set form = craft.freeform.form("gatedDownload", {
            returnUrl: download.url,
        }) %}

        {% if form.submittedSuccessfully %}
            <div>You've successfully submitted this form!</div>
        {% endif %}

        {{ form.render }}
        <a href="#" class="mt-8 text-lg block text-center closeForm">Close this window</a>
    </div>
</div>