<div class="bg-white formAndText border-off_white border-t-2">
    <div class="max-w-screen-xl mx-auto py-8 lg:py-24 px-4 sm:px-6 lg:px-8">
        <div class="w-5/6 mx-auto">


        </div>
    </div>
</div>