{% set url = craft.app.request.url %}

{% if url != '/contact' %}
    <div class="{% if url == '/' %}bg-white{% else %}bg-blue{% endif %} formAndText">
        <div class="max-w-screen-xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
            <div class="w-full mx-auto">
                <h2 class="text-navy text-3xl text-center lg:text-5xl font-bold leading-tight" style="margin-bottom: 30px;">
                    {{ callToAction.formTitle | nl2br }}
                </h2>
                {{ callToAction.formDescription | markdown }}

                {% set form = craft.freeform.form("footerCTA") %}

                {% if form.submittedSuccessfully %}
                    <div>You've successfully submitted this form!</div>
                {% endif %}

                {{ form.render }}

            </div>
        </div>
    </div>
{% endif %}

{% include 'partials/footer/_footerNav.twig' %}