<div class="lg:relative {{ block.backgroundColour }} border-opaque_navy border-t">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 relative">
        <div class="w-full lg:w-5/6 mx-auto flex flex-col lg:flex-row justify-start relative">
            {% if block.relatedEntries | length %}
                {% include 'blocks/partials/_tile' with { entries: block.relatedEntries.all(), bgColour: block.backgroundColour, alt: false } %}
            {% endif %}
        </div>
    </div>
</div>