{% extends '/partials/_base.twig' %}

{% block content %}

    {% include 'partials/_nav.twig' with { 'colour': 'white', 'logo': 'logo.svg', 'navColour' : 'navy', 'includeDropdowns': true } %}

    <header class="w-full bg-navy h-64 relative flex flex-row justify-center items-center" style="height: 300px;">
        <div class="absolute w-full h-full opacity-75 bg-gradient-to-r from-navy z-10"></div>
        <img class="absolute h-full w-full object-cover z-10" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.title }}">
        <h1 class="text-5xl text-white font-bold relative z-50">{{ entry.title }}</h1>
    </header>


    {% set blocks = entry.pageBuilder.all() %}

    {% for block in blocks %}
        {% include 'blocks/_'~block.type %}
    {% endfor %}

    {% set form = craft.freeform.form("contactPageForm") %}

    {% if form.submittedSuccessfully %}
        <div>You've successfully submitted this form!</div>
    {% endif %}

    {{ form.render }}

    <div class="bg-white flex flex-col lg:flex-row space-x-0 space-y-8 lg:space-y-0 lg:space-x-4">
        <div class="w-full w-1/2">
            <div id="map" class="google-map" style="min-height: 450px;width: 100%;">
                <div class="responsive-embed">
                </div><!-- /.responsive-embed -->
            </div><!-- /#map.google-map -->
        </div>
        <div class="w-full w-1/2">
            <div id="map2" class="google-map" style="min-height: 450px;width: 100%;">
                <div class="responsive-embed">
                </div><!-- /.responsive-embed -->
            </div><!-- /#map.google-map -->
        </div>
    </div>

    {% include 'partials/footer/_footer.twig' %}

    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src="/assets/js/maps.js"></script>

{% endblock %}