.kenburns {

  overflow: hidden;

  img.animate {
    width: 100%;
    animation: move 20s ease forwards;
    /* Add infinite to loop. */

  }
}

@keyframes move {
  0% {
    transform-origin: bottom left;
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.2);
  }
}