@tailwind base;

@tailwind components;

@tailwind utilities;

@import "typography";
@import "./blocks/plainText";
@import "./blocks/textAndMedia";
@import "./blocks/formAndText";

.kenburns {

  overflow: hidden;

  img.animate {
    width: 100%;
    animation: move 20s ease forwards;
    /* Add infinite to loop. */

    -ms-animation: move 20s ease forwards;
    -webkit-animation: move 20s ease forwards;
    -moz-animation: move 20s ease forwards;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */

    -webkit-transform: scale(1.0);
    /* Safari and Chrome */

    -o-transform: scale(1.0);
    /* Opera */

    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */

    -webkit-transform: scale(1.2);
    /* Safari and Chrome */

    -o-transform: scale(1.2);
    /* Opera */

    -moz-transform: scale(1.2);
    /* Firefox */
  }
}