@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @import "typography";
  @import "kenburns";
  @import "./blocks/plainText";
  @import "./blocks/textAndMedia";
  @import "./blocks/formAndText";
}