@tailwind base;

@tailwind components;

@font-face {
  font-family: Neutrif Studio Regular;
  font-weight: 400;
  src: url(/assets/fonts/neutrifstudio-regular.woff) format("woff");
}

@tailwind utilities;

@import "typography";
@import "./blocks/plainText";
@import "./blocks/textAndMedia";
@import "./blocks/formAndText";