h1 {
  @apply text-6xl;
}
h2 {
  @apply text-5xl;
}
h3 {
  @apply text-4xl;
}
h4 {
  @apply text-3xl;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-xl;
}

hr {
  @apply border-navy border-opacity-50 my-8;
}

.textAndMedia.bg-white {
  h1,h2,h3,h4,h5,h6,p,a {
    @apply text-navy;
  }

  .btn-white {
    @apply border-navy;

    &:hover {
      @apply bg-navy text-white;
    }
  }
}

.nav.bg-navy {
  a {
    @apply text-white;
  }
}

.btn-white {
  @apply text-white py-2 px-6 border border-white font-bold rounded text-sm uppercase tracking-widest transition duration-500 ease-in-out;

  &:hover {
    @apply bg-white text-navy;
  }
}