{% extends '/partials/_base.twig' %}

{% block content %}

    {% include '/partials/header/_nav.twig' %}

    {% include '/partials/header/_homeheader.twig' %}

    {% set blocks = entry.pageBuilder.all() %}

    {% for block in blocks %}
        {% include 'blocks/_'~block.type %}
    {% endfor %}

    
    <div class="bg-white flex flex-col lg:flex-row space-x-0 space-y-8 lg:space-y-0 lg:space-x-4">
        <div class="w-full w-1/2">
            <div id="map" class="google-map" style="min-height: 450px;width: 100%;">
                <div class="responsive-embed">
                </div><!-- /.responsive-embed -->
            </div><!-- /#map.google-map -->
        </div>
        <div class="w-full w-1/2">
            <div id="map2" class="google-map" style="min-height: 450px;width: 100%;">
                <div class="responsive-embed">
                </div><!-- /.responsive-embed -->
            </div><!-- /#map.google-map -->
        </div>
    </div>

    {% include 'partials/footer/_footer.twig' %}

    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoicnlhbm53byIsImEiOiJja2VtbnlodW4wNWU1MnFsajQ1bTl2dnhvIn0.NMZP89hoKD1hVlPshKGY5g';
        var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });

        let center;

        mapboxClient.geocoding
            .forwardGeocode({
                query: 'Cardiff, New South Wales',
                autocomplete: false,
                limit: 1
            })
            .send()
            .then(function(response) {
                if (
                    response &&
                    response.body &&
                    response.body.features &&
                    response.body.features.length
                ) {
                    var feature = response.body.features[0];

                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/ryannwo/ckemo757h2hf419o5ninz69gx',
                        center: feature.center,
                        zoom: 14
                    });
                    map.scrollZoom.disable();
                    map.addControl(new mapboxgl.NavigationControl());

                    map.on('touchstart', function(){
                        map.dragging.disable();
                    });

                    map.on('load', function() {
                        map.loadImage(
                            '/assets/img/cardiff-icon.png',
                            function(error, image) {
                                if (error) throw error;
                                map.addImage('micotech', image);
                                map.addSource('point', {
                                    'type': 'geojson',
                                    'data': {
                                        'type': 'FeatureCollection',
                                        'features': [
                                            {
                                                'type': 'Feature',
                                                'geometry': {
                                                    'type': 'Point',
                                                    'coordinates': feature.center
                                                }
                                            }
                                        ]
                                    }
                                });
                                map.addLayer({
                                    'id': 'points',
                                    'type': 'symbol',
                                    'source': 'point',
                                    'layout': {
                                        'icon-image': 'micotech',
                                        'icon-size': 0.5
                                    }
                                });
                            }
                        );
                    });
                }
            });

        mapboxClient.geocoding
            .forwardGeocode({
                query: 'Mackay Queensland',
                autocomplete: false,
                limit: 1
            })
            .send()
            .then(function(response) {
                if (
                    response &&
                    response.body &&
                    response.body.features &&
                    response.body.features.length
                ) {
                    var feature = response.body.features[0];

                    var map = new mapboxgl.Map({
                        container: 'map2',
                        style: 'mapbox://styles/ryannwo/ckemo757h2hf419o5ninz69gx',
                        center: feature.center,
                        zoom: 14
                    });
                    map.scrollZoom.disable();
                    map.addControl(new mapboxgl.NavigationControl());

                    map.on('touchstart', function(){
                        map.dragging.disable();
                    });

                    map.on('load', function() {
                        map.loadImage(
                            '/assets/img/mackay-icon.png',
                            function(error, image) {
                                if (error) throw error;
                                map.addImage('micotech', image);
                                map.addSource('point', {
                                    'type': 'geojson',
                                    'data': {
                                        'type': 'FeatureCollection',
                                        'features': [
                                            {
                                                'type': 'Feature',
                                                'geometry': {
                                                    'type': 'Point',
                                                    'coordinates': feature.center
                                                }
                                            }
                                        ]
                                    }
                                });
                                map.addLayer({
                                    'id': 'points',
                                    'type': 'symbol',
                                    'source': 'point',
                                    'layout': {
                                        'icon-image': 'micotech',
                                        'icon-size': 0.5
                                    }
                                });
                            }
                        );
                    });
                }
            });
    </script>

{% endblock %}