{% extends '/partials/_base.twig' %}

{% block content %}

    {% include 'partials/_nav.twig' with { 'colour': 'white', 'logo': 'logo.svg', 'navColour' : 'navy', 'includeDropdowns': true } %}

    {% include '/partials/header/_homeheader.twig' %}

    {% set blocks = entry.pageBuilder.all() %}

    {% for block in blocks %}
        {% include 'blocks/_'~block.type %}
    {% endfor %}


    <div class="bg-white formAndText border-off_white border-t-2">
        <div class="max-w-screen-xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
            <div class="w-full mx-auto">
                <h2 class="text-navy text-3xl text-center lg:text-5xl mb-4 font-bold leading-tight">
                    {{ callToAction.formTitle | nl2br }}
                </h2>
                {{ callToAction.formDescription | markdown }}

                {% set form = craft.freeform.form("footerCTA") %}

                {% if form.submittedSuccessfully %}
                    <div>You've successfully submitted this form!</div>
                {% endif %}

                {{ form.render }}

            </div>
        </div>
    </div>

    
    <div class="bg-white flex flex-col lg:flex-row space-x-0 space-y-8 lg:space-y-0 lg:space-x-4">
        <div class="w-full w-1/2">
            <div id="map" class="google-map" style="min-height: 450px;width: 100%;">
                <div class="responsive-embed">
                </div><!-- /.responsive-embed -->
            </div><!-- /#map.google-map -->
        </div>
        <div class="w-full w-1/2">
            <div id="map2" class="google-map" style="min-height: 450px;width: 100%;">
                <div class="responsive-embed">
                </div><!-- /.responsive-embed -->
            </div><!-- /#map.google-map -->
        </div>
    </div>

    {% include 'partials/footer/_footerNav.twig' %}

    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src="/assets/js/maps.js"></script>

{% endblock %}