{% extends '/partials/_base.twig' %}

{% block content %}

    {% include '/partials/header/_nav.twig' %}

    <div class="lg:relative bg-navy py-16 lg:py-24">
        <img src="/assets/img/coal-header.jpg" class="absolute h-full w-full object-cover inset-0" alt="Coal header">
        <div class="w-full h-full bg-navy bg-opacity-50 absolute inset-0"></div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 relative">
            <div class="w-full lg:w-5/6 mx-auto">
                <div class="w-full text-center">
                    <h2 class="text-3xl tracking-tight leading-10 mb-8 font-extrabold text-white sm:text-4xl sm:leading-none md:text-5xl lg:text-4xl xl:text-5xl">
                        Resources
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="lg:relative bg-white py-16 lg:py-24">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
            <div class="w-full lg:w-5/6 mx-auto">
                <div class="w-full lg:w-3/4">
                    <h2 class="text-3xl tracking-tight leading-10 mb-8 font-extrabold text-navy sm:text-4xl sm:leading-none md:text-5xl lg:text-4xl xl:text-5xl">
                        Fit for purpose
                    </h2>
                    <p class="text-lg text-navy opacity-75">
                        We pride ourselves on extracting the highest yield mineral for our clients
                        and to do this, we have sourced the best range of products and expert
                        solutions. Talk to us about your next project. We are all about
                        collaborating.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="relative bg-mustard">
        <div class="hidden md:block h-56 sm:h-64 md:absolute md:left-0 md:h-full md:w-2/6">
            <img class="w-full h-full object-cover" src="/assets/img/pipe-placeholder.jpg" alt="Support team">
        </div>
        <div class="relative max-w-screen-xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-24">
            <div class="w-5/6 mx-auto">
                <div class="md:ml-auto md:w-2/3">
                    <h2 class="mt-2 mb-6 text-white text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10">
                        Our protected supply chain
                    </h2>
                    <h3 class="text-white mb-6 text-lg uppercase">
                        Global presence, local expertise
                    </h3>
                    <p class="mt-3 leading-7 text-white opacity-75">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat quisque ut interdum tincidunt duis.
                    </p>
                    <div class="mt-8">
                        <div class="inline-flex rounded-md">
                            <a href="#" class="inline-flex uppercase items-center justify-center px-8 py-2 border border-white leading-6 font-medium rounded-md text-white font-bold text-sm">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block md:hidden h-56 sm:h-64 md:absolute md:left-0 md:h-full md:w-2/6">
            <img class="w-full h-full object-cover" src="/assets/img/pipe-placeholder.jpg" alt="Support team">
        </div>
    </div>


    <div class="relative bg-blue">
        <div class="hidden md:block h-56 sm:h-64 md:absolute md:right-0 md:h-full md:w-2/6">
            <img class="w-full h-full object-cover" src="/assets/img/pipe-placeholder.jpg" alt="Support team">
        </div>
        <div class="relative max-w-screen-xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-24">
            <div class="w-5/6 mx-auto">
                <div class="md:mr-auto md:w-2/3">
                    <h2 class="mt-2 mb-6 text-white text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10">
                        Our history
                    </h2>
                    <h3 class="text-white mb-6 text-lg uppercase">
                        40 YEARS OF EXPERTISE
                    </h3>
                    <p class="mt-3 leading-7 text-white opacity-75">
                        We're a tight-knit family company operating since 1978, near Newcastle,
                        Australia. Many booms and busts later, we're still here. Our smaller
                        size means we're nimble: addressing your needs as they arise.
                    </p>
                    <div class="mt-8">
                        <div class="inline-flex rounded-md">
                            <a href="#" class="inline-flex uppercase items-center justify-center px-8 py-2 border border-white leading-6 font-medium rounded-md text-white font-bold text-sm">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block md:hidden h-56 sm:h-64 md:absolute md:right-0 md:h-full md:w-2/6">
            <img class="w-full h-full object-cover" src="/assets/img/pipe-placeholder.jpg" alt="Support team">
        </div>
    </div>



    <div class="bg-white">
        <div class="max-w-screen-xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
            <div class="w-5/6 mx-auto">
                <h2 class="text-light_grey text-3xl text-center lg:text-5xl mb-12 font-bold">World-leading mining houses trust Minco Tech</h2>
                <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                        <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo.svg" alt="Tuple">
                    </div>
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                        <img class="h-12" src="https://tailwindui.com/img/logos/mirage-logo.svg" alt="Mirage">
                    </div>
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                        <img class="h-12" src="https://tailwindui.com/img/logos/statickit-logo.svg" alt="StaticKit">
                    </div>
                    <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
                        <img class="h-12" src="https://tailwindui.com/img/logos/transistor-logo.svg" alt="Transistor">
                    </div>
                    <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
                        <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo.svg" alt="Workcation">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white border-light_grey border-t">
        <div class="max-w-screen-xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
            <div class="w-5/6 mx-auto">
                <h2 class="text-navy text-3xl text-center lg:text-5xl mb-4 font-bold">
                    Join the global leaders in wet prep
                </h2>
                <p class="text-black opacity-75 text-lg text-center mb-12">
                    Nam at sem at ligula aliquet placerat. Maecenas nibh diam, pharetra
                    vitae enim non, mattis ullamcorper erat. Quisque id egestas lorem.
                </p>
                <form action="#">
                    <div class="flex flex-col lg:flex-row justify-center space-x-6">
                        <input type="text" class="bg-input_bg py-3 px-5 placeholder-black placeholder-opacity-50 rounded" placeholder="Name">
                        <input type="email" class="bg-input_bg py-3 px-5 placeholder-black placeholder-opacity-50 rounded" placeholder="Email">
                        <input type="submit" class="bg-navy py-3 px-16 text-white font-bold text-sm uppercase rounded cursor-pointer hover:opacity-75 transition duration-500 ease-in-out" value="Let's collaborate">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'partials/footer/_footer.twig' %}

{% endblock %}