<div class="
    md:w-5/12 md:w-1/2 bg-off_white w-full px-3 mb-6 md:mb-0 md:w-1/4 lg:w-1/4 xl:w-1/4
    bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4
    errors text-red-500 text-xs italic
"></div>