.plainText {
  @apply text-navy;

  ul {
    @apply list-disc ml-6 mb-4;
  }

  ol {
    @apply list-decimal ml-6 mb-4;
  }

  li {
    @apply text-lg;
  }
}

.plainText.bg-navy {
  @apply text-white;
}