.plainText {
  h1,h2,h3,h4,h5,h6,p,a,li,ol {
    @apply text-white;
  }
}
.plainText.bg-white {
  h1,h2,h3,h4,h5,h6,p,a,li,ol {
    @apply text-navy;
  }
}
.plainText {
  h1,h2,h3,h4,h5,h6 {
    @apply mb-4;
  }
  p {
    @apply text-lg opacity-75 mb-4;
  }

  hr {
    @apply border-light_grey border-t my-8;
  }

  li {
    @apply text-lg ml-4;
    color: #4B627E !important;
  }

  ul {
    @apply mb-4 list-disc;
  }
  ol {
    @apply mb-4 list-decimal;
  }
}