.plainText {
  h1,h2,h3,h4,h5,h6,p,a,li,ol {
    @apply text-white;
  }
  ul {
    @apply mb-4;
    li {
      @apply text-lg opacity-75 list-disc ml-4;
    }
    ol {
      @apply text-lg opacity-75 list-decimal ml-4;
    }
  }
}
.plainText.bg-white {
  h1,h2,h3,h4,h5,h6,p,a,li,ol {
    @apply text-navy;
  }
}
.plainText {
  h1,h2,h3,h4,h5,h6 {
    @apply mb-4;
  }
  p {
    @apply text-lg opacity-75 mb-4;
  }

  hr {
    @apply border-light_grey border-t my-8;
  }
}