{% extends '/partials/_base.twig' %}

{% block content %}

    {% include 'partials/_nav.twig' with { 'colour': 'white', 'logo': 'logo.svg', 'navColour' : 'navy', 'includeDropdowns': true } %}

    {% set headerImg = entry.seoImage.one() %}

    <header class="w-full bg-blue h-64 relative flex flex-row justify-center items-center" style="height: 300px;">
        <img class="absolute h-full w-full object-cover z-10" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.title }}">
        <h1 class="text-3xl lg:text-5xl text-white font-bold relative z-50">{{ entry.title }}</h1>
    </header>

    <section class="py-16">
        {# Get all the product categoreies #}
        {% set productCategories = craft.categories().group('productCategories').all() %}

        {% for category in productCategories %}
            <section class="{% if not loop.last %}border-b-2{% endif %} border-light_grey border-opacity-25 py-8">
                <div class="max-w-7xl px-4 lg:px-0 mx-auto">
                    <h3 class="text-navy font-bold mb-4">
                        {{ category.title }}
                    </h3>

                    {# Get all the products that belong to that category in the loop #}

                    {% set products = craft.entries().section('products').relatedTo(category).all() %}
                    {% set batches = products|batch(3) %}

                    {% for products in batches %}
                        <div class="w-full flex flex-row flex-wrap md:border-t {% if loop.last %}md:border-b{% endif %} border-light_grey border-opacity-50">
                        {% for product in products %}
                            {% set download = product.downloads.one() %}
                            <a href="#" class="triggerForm w-full md:w-1/3 flex flex-row pr-4 hover:text-blue items-center text-xl text-navy py-4">
                                <i class="fal fa-arrow-to-bottom mr-4"></i>{{ product.title }}
                            </a>
                            {% if download | length %}
                                {% include 'partials/_popupForm.twig' with { 'downloadUrl': download.url } %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}

                </div>
            </section>

        {% endfor %}
    </section>

    {% include 'partials/footer/_footer.twig' %}

{% endblock %}